{% extends "network/layout.html" %}
{% block content %}
    <h2>All Posts</h2>
    {% for post in posts %}
        <div>
            <strong>{{ post.user.username }}</strong>
            <p>{{ post.content }}</p>
            <small>{{ post.timestamp }}</small>
            <div>
                <button class="like-button" data-post-id="{{ post.id }}">
                    {% if user in post.likes.all %}
                        Unlike
                    {% else %}
                        Like
                    {% endif %}
                </button>
                <span id="like-count-{{ post.id }}">{{ post.like_count }}</span> Likes
            </div>
        </div>
    {% endfor %}
{% endblock %}